#namelogo {
    color: rgb(0, 89, 255);
}

#navlinks .link {
    margin-right: 1vw;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    #header {
        flex-direction: column;
    }
    #namelogo {
        font-size: 20vw;
    }
    #navlinks {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }
    #navlinks .link {
        font-size: 10vw;
    }
}