#featured h1 {
    margin-left: 1vh;
}

.image-gallary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#featured {
    width: 50%;
    padding: 2vh;
}

@media (max-width: 1000px) {
    #featured {
        width: auto;
    }
}