#featured h1 {
    margin-left: 1vh;
}

.image-gallary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#featured {
    width: 50%;
    padding: 2vh;
}

.preview-image {
    margin: 1vh;
    height: 20vh;
    display: block;
}

@media (max-width: 1000px) {
    #featured {
        width: auto;
    }

    .preview-image {
        height: auto;
    }
}