#welcometext,
#featured {
    width: 50%;
    padding: 2vh;
}

#welcometext p {
    font-size: 3vh;
}

@media (max-width: 1000px) {

    #content {
        flex-direction: column;
    }
    #welcometext,
    #featured {
        width: auto;
    }
   

}